.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-light {
  color: var(--light-color);
}

.bg-light {
  background: var(--light-color);
  color: #333;
}

.mb {
  margin-bottom: 1rem;
}

.mt {
  margin-top: 1rem;
}