/* Utility Classes */
.container {
    max-width: 1180px;
    text-align: center;
    margin: 0 auto;
    padding: 0 3rem;
  }
  
  .lead {
    font-size: 1.3rem;
  }
  
  .text-center {
    text-align: center;
  }